.wrapper {
    margin: 0;
    font-family: sans-serif;
}

.notice {
    position: sticky;
    top: 0;
    padding: 15px;
    text-align: center;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #dddddd;
}

.notice--bold {
    font-weight: 600;
}

.notice h1 {
    font-size: 15px;
    margin: 0;
    max-width: 585px;
    font-weight: normal;
    color: #333333;
}

.notice h1 a {
    color: #498ecb;
    font-weight: 600;
    text-decoration: none;
}

.notice h1 a:hover {
    text-decoration: underline;
}

.notice h1 i {
    color: #8a6d3b;
}

.navigate {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
}

.navigate .fedora__infinity {
    width: 49px;
    height: 49px;
}

.navigate .fedora__logo {
    width: 100px;
    height: 48px;
}

.banner {
    padding: 75px 8%;
    background-color: rgb(34, 56, 98);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__content {
    max-width: 810px;
    text-align: center;
}

.banner__content h2 {
    font-size: 45px;
    font-weight: 100;
}

.banner__content p {
    font-size: 22px;
    line-height: 32px;
}

.banner__pink {
    background-color: #a07cbb;
    padding: 12px;
    text-align: center;
}

.banner__pink h2 {
    color: #fff;
    font-weight: 100;
    font-size: 24px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.workstation {
    width: 100%;
    background-color: #60ba2d;
}

.type {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.type h3 {
    margin-top: 30px;
    font-weight: 100;
    font-size: 25px;
    color: #fdfefb;
    margin: 30px 0 0;
}

.type img {
    width: 150px;
    height: 150px;
}

.text {
    text-align: center;
    padding: 15px 10%;
    background-color: #ebebeb;
}

.text p {
    color: #60605b;
    margin: 8px;
    font-size: 17px;
    line-height: 23px;
}

.text a {
    text-decoration: none;
    background-color: #284172;
    border: solid 0px;
    padding: 12px 35px;
    border-radius: 22px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    margin: 20px 0 25px;
}

.text a:hover {
    background-color: #fff;
    color: #284172;
    display: inline-block;
}

.server {
    background-color: #dc8c27;
    width: 100%;
}

.atomic {
    background-image: url("../images/atomic-main.png");
    width: 100%;
}

.blue {
    background-color: #33518d;
    width: 100%;
    height: 65px;
}

@media screen and (min-width:768px) {

    .container {
        flex-direction: row;
    }

    .type {
        height: 100%;
    }

    .text {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .text a {
        display: none;
    }

    .text p {
        font-size: 19px;
        line-height: 30px;
        width: 55%;
        max-width: 240px;
        padding: 35px 0 0px 0;
        /* margin: 50px 0; */
        border-top: solid 3px #3c6eb4;
    }

    .type {
        height: auto;
    }

    .type h3 {
        margin-bottom: 150px;
    }

    .blue {
        width: 100%;
    }
}



